@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Clicker+Script:regular&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow-left:before {
  content: "\e900";
}

._icon-arrow-right:before {
  content: "\e901";
}

._icon-fb:before {
  content: "\e902";
}

._icon-inst:before {
  content: "\e903";
}

._icon-tw:before {
  content: "\e904";
}

._icon-yt:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #707070;
  line-height: 1;
  font-family: "Playfair Display";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Playfair Display";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  width: 8.375rem;
  height: 3rem;
  background-color: #F9C06A;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
          box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  color: #1E1E1E;
  font-size: 1rem;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button--rectangle {
  border-radius: 0;
}

.block-header > *:not(:last-child) {
  margin-bottom: 1.8125rem;
}

.block-header__center {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-header__white {
  color: #fff;
}

.block-header__title {
  color: #603809;
  font-weight: 700;
}

.block-header__title--white {
  color: #fff;
}

.block-header__title--mb:not(:last-child) {
  margin-bottom: 1rem;
}

.block-header__text {
  line-height: 1.7;
}

.block-header__text--white {
  color: #fff;
  line-height: 1.7;
}

.header {
  background: -webkit-gradient(linear, left top, right top, color-stop(-2%, #1E1E1E), color-stop(98%, rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #1E1E1E -2%, rgba(0, 0, 0, 0) 98%);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  min-height: 5.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 13.75rem 1fr 13.75rem;
  grid-template-columns: 13.75rem 1fr 13.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.header__logo {
  font-family: "Clicker Script", serif;
  font-size: 2.1875rem;
  color: #fff;
  z-index: 5;
}

.header__sing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.6875rem;
     -moz-column-gap: 0.6875rem;
          column-gap: 0.6875rem;
  row-gap: 0.3125rem;
}

.header__sign-in {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.875rem 1.6875rem;
  border-radius: 1.5rem;
  background-color: transparent;
}

.header__sign-up {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.875rem 1.6875rem;
  border-radius: 1.5rem;
  background-color: #F9C06A;
}

.menu {
  -ms-grid-column-align: center;
      justify-self: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.1875rem;
}

.menu__link {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #442808;
  -webkit-box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25);
  position: relative;
}

.no-webp .footer::before{
  background: url("../img/09_footer/bg-footer.png") center/cover no-repeat; }

.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.55;
}

.footer__container {
  padding-top: 10.125rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  gap: 4.25rem;
  color: #fff;
  z-index: 2;
  position: relative;
}

.footer__info {
  max-width: 23.75rem;
  color: #fff;
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
  z-index: 50;
}

.footer__logo {
  font-family: "Clicker Script", serif;
}

.footer__text {
  font-size: 0.875rem;
  line-height: 1.5714285714;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  row-gap: 0.3125rem;
}

.social-footer__link {
  font-size: 1.25rem;
}

.menu-footer__spollers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
}

.menu-footer__block {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-footer__block--big {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.menu-footer__title {
  list-style: none;
  font-size: 1.625rem;
  font-weight: 700;
}

.menu-footer__title:not(:last-child) {
  margin-bottom: 3.4375rem;
}

.menu-footer__title--big {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.menu-footer__title--big:not(:last-child) {
  margin-bottom: 1.9375rem;
}

.menu-footer__title::marker {
  display: none;
}

.menu-footer__list {
  display: -ms-grid;
  display: grid;
  gap: 0.625rem;
}

.menu-footer__link {
  font-size: 1.125rem;
  line-height: 2;
}

.no-webp .main-section{
  background: -webkit-gradient(linear, left top, right top, color-stop(-6.88%, #1E1E1E), color-stop(87.45%, rgba(0, 0, 0, 0))), url("../img/02_main/main.jpg") center/cover no-repeat; }

.no-webp .main-section{
  background: linear-gradient(90deg, #1E1E1E -6.88%, rgba(0, 0, 0, 0) 87.45%), url("../img/02_main/main.jpg") center/cover no-repeat; }

.main-section {
  min-height: 100vh;
}

.main-section__container {
  color: #fff;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 34.375rem auto;
  grid-template-columns: 34.375rem auto;
}

.main-section__body {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.main-section__label {
  font-size: 1.375rem;
  font-weight: 500;
}

.main-section__title {
  font-family: "Clicker Script", serif;
  font-size: 13.75rem;
}

.main-section__text {
  line-height: 1.7;
}

.best-coffee {
  position: relative;
}

.no-webp .best-coffee::before{
  background: url("../img/03__best-coffee/coffee_blast-left.png") 0 0 no-repeat; }

.best-coffee::before {
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  bottom: -95%;
  left: 0;
  z-index: 2;
}

.best-coffee__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.best-coffee__content {
  position: relative;
  z-index: 3;
}

.best-coffee__block-header:not(:last-child) {
  margin-bottom: 1.8125rem;
}

.best-coffee__image-ibg {
  aspect-ratio: 690/486;
  margin-right: -5.625rem;
}

.best-coffee__image-ibg img {
  -o-object-fit: contain;
     object-fit: contain;
}

.coffee-style {
  z-index: 2;
  position: relative;
}

.coffee-style__block-header:not(:last-child) {
  margin-bottom: 2rem;
}

.coffee-style__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  gap: 1.25rem;
}

.coffee-style__button {
  margin: 0 auto;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  position: relative;
  z-index: 10;
}

.body-coffee-style {
  background: #FFF9F1;
  border: 1px solid rgba(249, 192, 106, 0.42);
  text-align: center;
}

.body-coffee-style__image-ibg {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  aspect-ratio: 1.26/1;
  overflow: hidden;
}

.body-coffee-style__image-ibg img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.body-coffee-style__image-ibg:not(:last-child) {
  margin-bottom: 0.875rem;
}

.body-coffee-style__name {
  color: #603809;
  font-size: 1.375rem;
  font-weight: 700;
}

.body-coffee-style__name:not(:last-child) {
  margin-bottom: 0.375rem;
}

.body-coffee-style__contents {
  color: #1E1E1E;
  font-size: 1rem;
}

.body-coffee-style__contents:not(:last-child) {
  margin-bottom: 0.375rem;
}

.body-coffee-style__prise {
  color: #603809;
  font-size: 1.125rem;
  font-weight: 700;
}

.different {
  position: relative;
}

.no-webp .different::after{
  background: url("../img/05_different/coffee_blast-right.png") 0 0 no-repeat; }

.different::after {
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  top: -10%;
  right: -105%;
  z-index: 2;
}

.different__block-header:not(:last-child) {
  margin-bottom: 2rem;
}

.different__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  gap: 1.25rem;
}

.different__items:not(:last-child) {
  margin-bottom: 2rem;
}

.item-different {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(249, 192, 106, 0.42);
  background: #FFF9F1;
  padding: 2.25rem 0rem;
  z-index: 3;
}

.item-different__image-ibg {
  width: 5.5rem;
  aspect-ratio: 1/1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item-different__image-ibg:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.item-different__title {
  color: #603809;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.item-different__title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.item-different__text {
  max-width: 11.875rem;
  text-align: center;
}

.footer-different {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-different__label:not(:last-child) {
  margin-bottom: 0.625rem;
}

.footer-different__title {
  color: #603809;
  font-size: 1.875rem;
  font-weight: 700;
}

.footer-different__title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.no-webp .amazing-morning{
  background: url("../img/06_amazing-morning/bg.jpg") center/cover no-repeat; }

.amazing-morning {
  position: relative;
}

.no-webp .amazing-morning::before{
  background: url("../img/06_amazing-morning/coffee_bean.png") right bottom no-repeat; }

.amazing-morning::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.amazing-morning__container {
  padding: 0rem 0.9375rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  z-index: 3;
  position: relative;
}

.amazing-morning__body {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.amazing-morning__block-header:not(:last-child) {
  margin-bottom: 1.375rem;
}

.amazing-morning__image-ibg {
  width: 60%;
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  z-index: 3;
  aspect-ratio: 0.64/1;
}

.block-header__title:not(:last-child) {
  margin-bottom: 1.375rem;
}

.perfection-feedback {
  position: relative;
}

.no-webp .perfection-feedback::before{
  background: url("../img/07_perfection-feedback/coffee_blast-left.png") 0 0 no-repeat; }

.perfection-feedback::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 66%;
  left: 0;
  z-index: 2;
}

.no-webp .perfection-feedback::after{
  background: url("../img/07_perfection-feedback/coffee_blast-right.png") 0 0 no-repeat; }

.perfection-feedback::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 6%;
  right: -70%;
}

.perfection-feedback__container {
  max-width: 63.125rem;
  position: relative;
}

.perfection-feedback__slider {
  padding: 0rem 0rem;
  max-width: 58rem;
  margin: 0 auto;
}

.perfection-feedback__slide {
  position: relative;
}

.perfection-feedback__arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
}

.perfection-feedback__arrow--left {
  left: 0;
  background: url("../img/07_perfection-feedback/arrow-left.svg") center center no-repeat;
  background-color: #F9C06A;
  width: 5.125rem;
  aspect-ratio: 1/1;
  border-radius: 1rem;
}

.perfection-feedback__arrow--right {
  right: 0;
  background: url("../img/07_perfection-feedback/arrow-right.svg") center center no-repeat;
  background-color: #F9C06A;
  width: 5.125rem;
  aspect-ratio: 1/1;
  border-radius: 1rem;
}

.perfection-feedback__arrow.swiper-button-disabled {
  pointer-events: none;
  background-color: #F9C06A;
  opacity: 0.4;
  cursor: default;
}

.slide-perfection-feedback::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -3.625rem;
  left: 0;
  background-color: #FFF9F1;
  border: 1px solid rgba(249, 192, 106, 0.42);
  z-index: -1;
}

.slide-perfection-feedback__image {
  padding: 2.25rem 0rem 2.25rem 2.625rem;
}

.slide-perfection-feedback__text {
  text-align: center;
  margin: 0 auto;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 2;
}

.slide-perfection-feedback__text:not(:last-child) {
  margin-bottom: 1.75rem;
}

.slide-perfection-feedback__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.slide-perfection-feedback__user {
  text-align: center;
}

.slide-perfection-feedback__user:not(:last-child) {
  margin-bottom: 2.8125rem;
}

.slide-perfection-feedback__name {
  color: #603809;
  font-size: 2rem;
  font-weight: 700;
}

.slide-perfection-feedback__name:not(:last-child) {
  margin-bottom: 0.25rem;
}

.slide-perfection-feedback__position {
  font-size: 1.25rem;
  line-height: 1.7;
}

.slide-perfection-feedback__avatar-ibg {
  width: 7rem;
  aspect-ratio: 1/1;
  border-radius: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
}

.slide-perfection-feedback__avatar-ibg img {
  max-width: 100%;
}

.no-webp .latest-news{
  background: url("../img/08_latest-news/bg.jpg") center/cover no-repeat; }

.latest-news {
  z-index: 5;
  position: relative;
}

.no-webp .latest-news::before{
  background: url("../img/08_latest-news/cup-left.png") left/contain no-repeat; }

.latest-news::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 35%;
  left: 0;
}

.no-webp .latest-news::after{
  background: url("../img/08_latest-news/cup-right.png") right/contain no-repeat; }

.latest-news::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 35%;
  right: 0;
}

.latest-news__block-header:not(:last-child) {
  margin-bottom: 1.625rem;
}

.latest-news__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 10;
}

.latest-news__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 4px;
  border: 1px solid rgba(249, 192, 106, 0.42);
  background: #FFF9F1;
  width: 40.125rem;
  position: relative;
}

.latest-news__form .form__error {
  -webkit-transform: translate(-150%, 5%);
      -ms-transform: translate(-150%, 5%);
          transform: translate(-150%, 5%);
  background-color: rgb(224, 11, 11);
  border-radius: 1.5625rem;
  padding: 1.25rem 1.5625rem;
  font-size: 1.25rem;
  position: absolute;
  top: 5%;
  left: 65%;
  color: #fff;
  font-size: 0.875rem;
}

.latest-news__input {
  padding: 1rem 1.625rem 1rem 1.625rem;
  line-height: 1.7;
  width: 100%;
}

.latest-news__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.34);
}

.latest-news__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.34);
}

.latest-news__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.34);
}

.latest-news__input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.34);
}

.latest-news__input::placeholder {
  color: rgba(0, 0, 0, 0.34);
}

.latest-news__input._form-error {
  color: red;
}

.latest-news__input._form-error::-webkit-input-placeholder {
  color: red;
}

.latest-news__input._form-error::-moz-placeholder {
  color: red;
}

.latest-news__input._form-error:-ms-input-placeholder {
  color: red;
}

.latest-news__input._form-error::-ms-input-placeholder {
  color: red;
}

.latest-news__input._form-error::placeholder {
  color: red;
}

.latest-news__button {
  padding: 1.1875rem 1.5rem;
  font-size: 1.375rem;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

@media (min-width: 47.99875em) {
  .amazing-morning__image-ibg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column-align: end;
        justify-self: end;
  }

  .amazing-morning__image-ibg img {
    width: 100%;
  }
}

@media (min-width: 47.99875em) and (min-width: 75.625em) {
  .amazing-morning__image-ibg {
    margin-right: 5rem;
  }
}

@media (min-width: 75.625em) {
  .block-header__title {
    font-size: 3.375rem;
  }

  .menu__list {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }

  .footer__container {
    padding-bottom: 4.5rem;
  }

  .footer__logo {
    font-size: 3.375rem;
  }

  .menu-footer__spollers {
    gap: 4.125rem;
  }

  .main-section {
    padding-top: 12.5rem;
  }

  .main-section {
    padding-bottom: 6.75rem;
  }

  .main-section__label {
    font-size: 1.375rem;
  }

  .main-section__title {
    font-size: 13.75rem;
  }

  .best-coffee {
    padding-top: 5.125rem;
  }

  .best-coffee {
    padding-bottom: 5rem;
  }

  .coffee-style {
    padding-top: 1.25rem;
  }

  .coffee-style {
    padding-bottom: 2.5rem;
  }

  .body-coffee-style {
    padding-bottom: 2.625rem;
  }

  .different {
    padding-top: 2.5rem;
  }

  .different {
    padding-bottom: 2.5rem;
  }

  .amazing-morning {
    padding-top: 2.5rem;
  }

  .amazing-morning {
    padding-bottom: 2.5rem;
  }

  .amazing-morning__container {
    padding-top: 1.875rem;
  }

  .amazing-morning__container {
    padding-bottom: 1.875rem;
  }

  .amazing-morning__body {
    padding-top: 5rem;
  }

  .amazing-morning__body {
    padding-bottom: 5.125rem;
  }

  .perfection-feedback {
    padding-top: 2.5rem;
  }

  .perfection-feedback {
    padding-bottom: 5.125rem;
  }

  .perfection-feedback__block-header:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .slide-perfection-feedback__text {
    max-width: 48.75rem;
  }

  .latest-news {
    padding-top: 5.125rem;
  }

  .latest-news {
    padding-bottom: 5rem;
  }
}

@media (min-width: 75.625em) and (any-hover: hover) {
  .menu-footer__title:hover {
    text-decoration: underline;
  }
}

@media (max-width: 48em) {
  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}

@media (max-width: 20em) {
  .block-header__title {
    font-size: 1.25rem;
  }

  .footer__container {
    padding-bottom: 1.875rem;
  }

  .footer__logo {
    font-size: 1.875rem;
  }

  .menu-footer__spollers {
    gap: 1.25rem;
  }

  .main-section {
    padding-top: 7.5rem;
  }

  .main-section {
    padding-bottom: 2.5rem;
  }

  .main-section__label {
    font-size: 0.875rem;
  }

  .main-section__title {
    font-size: 7.5rem;
  }

  .best-coffee {
    padding-top: 2.5rem;
  }

  .best-coffee {
    padding-bottom: 2.5rem;
  }

  .coffee-style {
    padding-top: 0.625rem;
  }

  .coffee-style {
    padding-bottom: 1.25rem;
  }

  .body-coffee-style {
    padding-bottom: 1.875rem;
  }

  .different {
    padding-top: 1.25rem;
  }

  .different {
    padding-bottom: 1.875rem;
  }

  .amazing-morning {
    padding-top: 1.875rem;
  }

  .amazing-morning {
    padding-bottom: 1.875rem;
  }

  .amazing-morning__container {
    padding-top: 0.0000000625rem;
  }

  .amazing-morning__container {
    padding-bottom: 0.0000000625rem;
  }

  .amazing-morning__body {
    padding-top: 1.875rem;
  }

  .amazing-morning__body {
    padding-bottom: 1.875rem;
  }

  .perfection-feedback {
    padding-top: 1.875rem;
  }

  .perfection-feedback {
    padding-bottom: 1.875rem;
  }

  .perfection-feedback__block-header:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .slide-perfection-feedback__text {
    max-width: 17.5rem;
  }

  .latest-news {
    padding-top: 2.5rem;
  }

  .latest-news {
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 63.75em) {
  .perfection-feedback__arrow--left {
    left: 0.9375rem;
  }

  .perfection-feedback__arrow--right {
    right: 0.9375rem;
  }
}

@media (max-width: 61.99875em) {
  .best-coffee__image-ibg {
    margin-right: -2.8125rem;
  }

  .perfection-feedback::before {
    top: 75%;
    left: -15%;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 3.125rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__sing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.875rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__sign-in {
    font-size: 0.9375rem;
    border: 0.0625rem solid #fff;
    background-color: #7e490c;
  }

  .header__sign-up {
    font-size: 0.9375rem;
    border: 0.0625rem solid #fff;
    background-color: #854e0e;
    margin-right: -0.9375rem;
  }

  .menu__body {
    position: fixed;
    padding: 6.25rem 1.875rem 1.875rem 0.9375rem;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    background-color: #F9C06A;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.125rem;
    top: 0;
    left: 100%;
    z-index: 2;
    background-color: #603809;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #ada8a8;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .menu-footer__block--big {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }

  .menu-footer__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .main-section__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .main-section__body {
    gap: 3.125rem;
  }

  .main-section__text:not(:last-child) {
    gap: 3.125rem;
  }

  .best-coffee::before {
    bottom: -50%;
    opacity: 0.7;
  }

  .best-coffee__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    row-gap: 2.5rem;
  }

  .best-coffee__image-ibg {
    margin-right: 0rem;
  }

  .different::after {
    top: -10%;
    right: -90%;
    opacity: 0.4;
  }

  .amazing-morning__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .perfection-feedback::before {
    top: 80%;
    left: -60%;
    opacity: 0.6;
  }

  .perfection-feedback::after {
    opacity: 0.6;
  }

  .perfection-feedback__arrow {
    display: none;
  }

  .latest-news::before {
    display: none;
  }

  .latest-news::after {
    display: none;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .main-section {
    padding-bottom: 0.625rem;
  }
}

@media (max-width: 29.99875em) {
  .menu-footer__spollers {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    row-gap: 2.5rem;
  }

  .perfection-feedback::before {
    top: 85%;
    left: -75%;
    opacity: 0.6;
  }
}

@media (min-width: 20em) and (max-width: 75.625em) {
@supports (font-size: clamp( 1.25rem , 0.4859550562rem  +  3.8202247191vw , 3.375rem )) {
    .block-header__title {
      font-size: clamp( 1.25rem , 0.4859550562rem  +  3.8202247191vw , 3.375rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.4859550562rem  +  3.8202247191vw , 3.375rem )) {
    .block-header__title {
      font-size: calc(1.25rem + 2.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.9311797753rem  +  4.7191011236vw , 4.5rem )) {
    .footer__container {
      padding-bottom: clamp( 1.875rem , 0.9311797753rem  +  4.7191011236vw , 4.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.9311797753rem  +  4.7191011236vw , 4.5rem )) {
    .footer__container {
      padding-bottom: calc(1.875rem + 2.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1.875rem , 1.3356741573rem  +  2.6966292135vw , 3.375rem )) {
    .footer__logo {
      font-size: clamp( 1.875rem , 1.3356741573rem  +  2.6966292135vw , 3.375rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.3356741573rem  +  2.6966292135vw , 3.375rem )) {
    .footer__logo {
      font-size: calc(1.875rem + 1.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 1.25rem , 0.2162921348rem  +  5.1685393258vw , 4.125rem )) {
    .menu-footer__spollers {
      gap: clamp( 1.25rem , 0.2162921348rem  +  5.1685393258vw , 4.125rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.2162921348rem  +  5.1685393258vw , 4.125rem )) {
    .menu-footer__spollers {
      gap: calc(1.25rem + 2.875 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 7.5rem , 5.702247191rem  +  8.9887640449vw , 12.5rem )) {
    .main-section {
      padding-top: clamp( 7.5rem , 5.702247191rem  +  8.9887640449vw , 12.5rem );
    }
}

@supports not (padding-top: clamp( 7.5rem , 5.702247191rem  +  8.9887640449vw , 12.5rem )) {
    .main-section {
      padding-top: calc(7.5rem + 5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.9719101124rem  +  7.6404494382vw , 6.75rem )) {
    .main-section {
      padding-bottom: clamp( 2.5rem , 0.9719101124rem  +  7.6404494382vw , 6.75rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.9719101124rem  +  7.6404494382vw , 6.75rem )) {
    .main-section {
      padding-bottom: calc(2.5rem + 4.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 0.875rem , 0.6952247191rem  +  0.8988764045vw , 1.375rem )) {
    .main-section__label {
      font-size: clamp( 0.875rem , 0.6952247191rem  +  0.8988764045vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.6952247191rem  +  0.8988764045vw , 1.375rem )) {
    .main-section__label {
      font-size: calc(0.875rem + 0.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 7.5rem , 5.2528089888rem  +  11.2359550562vw , 13.75rem )) {
    .main-section__title {
      font-size: clamp( 7.5rem , 5.2528089888rem  +  11.2359550562vw , 13.75rem );
    }
}

@supports not (font-size: clamp( 7.5rem , 5.2528089888rem  +  11.2359550562vw , 13.75rem )) {
    .main-section__title {
      font-size: calc(7.5rem + 6.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.5561797753rem  +  4.7191011236vw , 5.125rem )) {
    .best-coffee {
      padding-top: clamp( 2.5rem , 1.5561797753rem  +  4.7191011236vw , 5.125rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.5561797753rem  +  4.7191011236vw , 5.125rem )) {
    .best-coffee {
      padding-top: calc(2.5rem + 2.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.6011235955rem  +  4.4943820225vw , 5rem )) {
    .best-coffee {
      padding-bottom: clamp( 2.5rem , 1.6011235955rem  +  4.4943820225vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.6011235955rem  +  4.4943820225vw , 5rem )) {
    .best-coffee {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.4002808989rem  +  1.1235955056vw , 1.25rem )) {
    .coffee-style {
      padding-top: clamp( 0.625rem , 0.4002808989rem  +  1.1235955056vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.4002808989rem  +  1.1235955056vw , 1.25rem )) {
    .coffee-style {
      padding-top: calc(0.625rem + 0.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
    .coffee-style {
      padding-bottom: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
    .coffee-style {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.6053370787rem  +  1.3483146067vw , 2.625rem )) {
    .body-coffee-style {
      padding-bottom: clamp( 1.875rem , 1.6053370787rem  +  1.3483146067vw , 2.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.6053370787rem  +  1.3483146067vw , 2.625rem )) {
    .body-coffee-style {
      padding-bottom: calc(1.875rem + 0.75 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
    .different {
      padding-top: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
    .different {
      padding-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.6502808989rem  +  1.1235955056vw , 2.5rem )) {
    .different {
      padding-bottom: clamp( 1.875rem , 1.6502808989rem  +  1.1235955056vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.6502808989rem  +  1.1235955056vw , 2.5rem )) {
    .different {
      padding-bottom: calc(1.875rem + 0.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.6502808989rem  +  1.1235955056vw , 2.5rem )) {
    .amazing-morning {
      padding-top: clamp( 1.875rem , 1.6502808989rem  +  1.1235955056vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.6502808989rem  +  1.1235955056vw , 2.5rem )) {
    .amazing-morning {
      padding-top: calc(1.875rem + 0.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.6502808989rem  +  1.1235955056vw , 2.5rem )) {
    .amazing-morning {
      padding-bottom: clamp( 1.875rem , 1.6502808989rem  +  1.1235955056vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.6502808989rem  +  1.1235955056vw , 2.5rem )) {
    .amazing-morning {
      padding-bottom: calc(1.875rem + 0.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 0.0000000625rem , -0.6741572184rem  +  3.3707864045vw , 1.875rem )) {
    .amazing-morning__container {
      padding-top: clamp( 0.0000000625rem , -0.6741572184rem  +  3.3707864045vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 0.0000000625rem , -0.6741572184rem  +  3.3707864045vw , 1.875rem )) {
    .amazing-morning__container {
      padding-top: calc(0.0000000625rem + 1.8749999375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 0.0000000625rem , -0.6741572184rem  +  3.3707864045vw , 1.875rem )) {
    .amazing-morning__container {
      padding-bottom: clamp( 0.0000000625rem , -0.6741572184rem  +  3.3707864045vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -0.6741572184rem  +  3.3707864045vw , 1.875rem )) {
    .amazing-morning__container {
      padding-bottom: calc(0.0000000625rem + 1.8749999375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem )) {
    .amazing-morning__body {
      padding-top: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem )) {
    .amazing-morning__body {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.7064606742rem  +  5.8426966292vw , 5.125rem )) {
    .amazing-morning__body {
      padding-bottom: clamp( 1.875rem , 0.7064606742rem  +  5.8426966292vw , 5.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.7064606742rem  +  5.8426966292vw , 5.125rem )) {
    .amazing-morning__body {
      padding-bottom: calc(1.875rem + 3.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.6502808989rem  +  1.1235955056vw , 2.5rem )) {
    .perfection-feedback {
      padding-top: clamp( 1.875rem , 1.6502808989rem  +  1.1235955056vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.6502808989rem  +  1.1235955056vw , 2.5rem )) {
    .perfection-feedback {
      padding-top: calc(1.875rem + 0.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.7064606742rem  +  5.8426966292vw , 5.125rem )) {
    .perfection-feedback {
      padding-bottom: clamp( 1.875rem , 0.7064606742rem  +  5.8426966292vw , 5.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.7064606742rem  +  5.8426966292vw , 5.125rem )) {
    .perfection-feedback {
      padding-bottom: calc(1.875rem + 3.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.1130617978rem  +  2.2471910112vw , 2.8125rem )) {
    .perfection-feedback__block-header:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 1.1130617978rem  +  2.2471910112vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.1130617978rem  +  2.2471910112vw , 2.8125rem )) {
    .perfection-feedback__block-header:not(:last-child) {
      margin-bottom: calc(1.5625rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (max-width: clamp( 17.5rem , 6.2640449438rem  +  56.1797752809vw , 48.75rem )) {
    .slide-perfection-feedback__text {
      max-width: clamp( 17.5rem , 6.2640449438rem  +  56.1797752809vw , 48.75rem );
    }
}

@supports not (max-width: clamp( 17.5rem , 6.2640449438rem  +  56.1797752809vw , 48.75rem )) {
    .slide-perfection-feedback__text {
      max-width: calc(17.5rem + 31.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.5561797753rem  +  4.7191011236vw , 5.125rem )) {
    .latest-news {
      padding-top: clamp( 2.5rem , 1.5561797753rem  +  4.7191011236vw , 5.125rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.5561797753rem  +  4.7191011236vw , 5.125rem )) {
    .latest-news {
      padding-top: calc(2.5rem + 2.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.6011235955rem  +  4.4943820225vw , 5rem )) {
    .latest-news {
      padding-bottom: clamp( 2.5rem , 1.6011235955rem  +  4.4943820225vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.6011235955rem  +  4.4943820225vw , 5rem )) {
    .latest-news {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 55.625);
    }
}
}

@media (min-width: 48em) and (max-width: 75.625em) {
@supports ((-moz-column-gap: clamp( 1.25rem , -3.0938914027rem  +  9.0497737557vw , 3.75rem )) or (column-gap: clamp( 1.25rem , -3.0938914027rem  +  9.0497737557vw , 3.75rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.25rem , -3.0938914027rem  +  9.0497737557vw , 3.75rem );
         -moz-column-gap: clamp( 1.25rem , -3.0938914027rem  +  9.0497737557vw , 3.75rem );
              column-gap: clamp( 1.25rem , -3.0938914027rem  +  9.0497737557vw , 3.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -3.0938914027rem  +  9.0497737557vw , 3.75rem )) or (column-gap: clamp( 1.25rem , -3.0938914027rem  +  9.0497737557vw , 3.75rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 2.5 * (100vw - 48rem) / 27.625);
         -moz-column-gap: calc(1.25rem + 2.5 * (100vw - 48rem) / 27.625);
              column-gap: calc(1.25rem + 2.5 * (100vw - 48rem) / 27.625);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 75.625em) {
  .main-section {
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 75.625em) {
@supports (padding-bottom: clamp( 0.625rem , -0.0491573034rem  +  3.3707865169vw , 2.5rem )) {
    .main-section {
      padding-bottom: clamp( 0.625rem , -0.0491573034rem  +  3.3707865169vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , -0.0491573034rem  +  3.3707865169vw , 2.5rem )) {
    .main-section {
      padding-bottom: calc(0.625rem + 1.875 * (100vw - 20rem) / 55.625);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 75.625em) {
@supports (margin-right: clamp( 0.3125rem , -1.3728932584rem  +  8.4269662921vw , 5rem )) {
    .amazing-morning__image-ibg {
      margin-right: clamp( 0.3125rem , -1.3728932584rem  +  8.4269662921vw , 5rem );
    }
}

@supports not (margin-right: clamp( 0.3125rem , -1.3728932584rem  +  8.4269662921vw , 5rem )) {
    .amazing-morning__image-ibg {
      margin-right: calc(0.3125rem + 4.6875 * (100vw - 20rem) / 55.625);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 20em) {
  .amazing-morning__image-ibg {
    margin-right: 0.3125rem;
  }
}

@media (any-hover: hover) {
  .button {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .button:hover {
    text-decoration: underline;
    background-color: #7e490c;
    color: #fff;
  }

  .header__sign-in {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .header__sign-in:hover {
    text-decoration: underline;
    background-color: #603809;
  }

  .header__sign-up {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .header__sign-up:hover {
    text-decoration: underline;
    background-color: #7e490c;
  }

  .menu__link:hover {
    text-decoration: underline;
  }

  .social-footer__item {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .social-footer__item:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .menu-footer__link:hover {
    text-decoration: underline;
  }

  .body-coffee-style__image-ibg:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .item-different {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .item-different:hover {
    background: #FFEED8;
  }

  .item-different:hover .item-different__image-ibg {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.webp .footer::before{ background: url(../img/09_footer/bg-footer.webp) center/cover no-repeat; }

.webp .main-section{ background: -webkit-gradient(linear, left top, right top, color-stop(-6.88%, #1E1E1E), color-stop(87.45%, rgba(0, 0, 0, 0))), url(../img/02_main/main.webp) center/cover no-repeat; }

.webp .main-section{ background: linear-gradient(90deg, #1E1E1E -6.88%, rgba(0, 0, 0, 0) 87.45%), url(../img/02_main/main.webp) center/cover no-repeat; }

.webp .best-coffee::before{ background: url(../img/03__best-coffee/coffee_blast-left.webp) 0 0 no-repeat; }

.webp .different::after{ background: url(../img/05_different/coffee_blast-right.webp) 0 0 no-repeat; }

.webp .amazing-morning{ background: url(../img/06_amazing-morning/bg.webp) center/cover no-repeat; }

.webp .amazing-morning::before{ background: url(../img/06_amazing-morning/coffee_bean.webp) right bottom no-repeat; }

.webp .perfection-feedback::before{ background: url(../img/07_perfection-feedback/coffee_blast-left.webp) 0 0 no-repeat; }

.webp .perfection-feedback::after{ background: url(../img/07_perfection-feedback/coffee_blast-right.webp) 0 0 no-repeat; }

.webp .latest-news{ background: url(../img/08_latest-news/bg.webp) center/cover no-repeat; }

.webp .latest-news::before{ background: url(../img/08_latest-news/cup-left.webp) left/contain no-repeat; }

.webp .latest-news::after{ background: url(../img/08_latest-news/cup-right.webp) right/contain no-repeat; }